* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
}

div {
    height: 50px;
    width: 50px;
}

.white {
    background: white;
}

.light-red {
    background-color: #e67f7e;
}

.red {
    background-color: #d83e3b;
}