* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
}

div {
    height: 50px;
    width: 50px;
    border: 2px solid white;
}

.orange {
    background-color: #ff7100;
}

.light-orange {
    background-color: #ffb26d;
}

.brown {
    background-color: #a84a00;
}