* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ff5c7d;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

h2 {
    margin-top: 5rem;
    margin: 5rem 0 1.5rem;
    color: white;
}

#txt {
    padding: 0.5rem;
    width: 15rem;
    border: none;
}

#txt:focus {
    outline: none;
}


#submit {
    border: none;
    background-color: white;
    color: rgb(73, 134, 225);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#submit:hover {
    cursor: pointer;
}

form {
    background-color: white;
}

.listTasks {
    background-color: white;
    width: 19.85rem;
    padding: 1rem 0.5rem;
}

.tasks {
    padding-top: 1rem;
    border-bottom: 2px solid rgb(73, 134, 225);
}