* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #A49694;
}

nav {
    background-color: black;
    color: white;
    height: 60px;
    position: relative;
}

i {
    margin: 10px 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 17px;
    right: 40px;
}

section {
    text-align: justify;
    margin: 60px 50px;
}

div {
    display: inline-block;
    position: relative;
    text-align: center;
}

section div:first-child {
    margin: 0 70px;
}

div:not(:first-child) {
    margin: 0 50px;
}


img {
    width: 250px;
    height: auto;
    border: 1px solid #827977;
}

h4 {
    font-size: 10px;
    color: white;
}

div h4:first-child {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #44ad92;
    padding: 13px 7px;
    text-align: center;
    border-radius: 50%;
}

.sale {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #d7292a;
    padding: 13px 7px;
    border-radius: 50%;
}

div p {
    margin: 10px;
    font-size: 20px;
}

div p:first-of-type {
    margin-top: 20px;
}

.price {
    font-size: 18px;
    color: #007615;
}

.price-before {
    text-decoration: line-through;
    color: #4B4237;
    font-size: small;
    margin-left: 5px;
}

button {
    padding: 10px;
    background-color: #c0b1ae;
    border: 2px solid #554b3f;
    color: #4B4237;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}